<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Order Comfirmation</title>
	<link rel="stylesheet" href="/styles/style.css" />
	<style>
			table, th, td {
			  border: 1px solid black;
			  border-collapse: collapse;
			}
	</style>
	<script src="/js/script.js"></script>
</head>
<body>
	<!-- Navigation Bar -->
			  <nav>
			      <div id="home">
			          <div class="customer_service">
			              Diana
			              <div class="contact_info">
			                  <img src="/images//envelope.png" alt="Custome Service Mail" />
			                  diana@kitymail.com
			              </div>
			              <div style="clear:both;"></div>
			              <div class="contact_info">
			                  <img src="/images//phone.png" alt="Customer Service Phone" />
			                  +652 KITTY PHORA
			              </div>
			          </div>
			  </nav>
	<h2>Your Cosmetic Products</h2>
	<table>					 
		 <table>
		  	<tr>
		  	<th>Cosmetic Name</th>
		  	<th>Cosmetic Price</th>
		  	<th>Cosmetic Brand</th>
			</tr>
		  	<tr th:each="cosmetic: ${cart}" >
		  		<td th:text="${cosmetic.name}"></td>
		  		<td th:text="${cosmetic.price}"></td>
				<td th:text="${cosmetic.brand}"></td>
		  </tr>
	</table>
	<h2>Your Payment Information</h2>
	<table>
	  <tr>
	    <td>Card Number</td>
	    <td>CVC</td>
	  </tr>
	  <tr>
	    <td th:text="${paymentInfo.cardNumber}"></td>
	    <td th:text="${paymentInfo.cvc}"></td>
	  </tr>
	</table>
	<h2>Your Address Information</h2>
	<table>
		  <tr>
		    <td>Name </td>
		    <td>Address </td>
			<td>Zipcode </td>
			<td>Country </td>
			<td>City </td>
			<td>Phone </td>
							
		  </tr>
		  <tr>
		    <td th:text="${shippingInfo.name}"></td>
		    <td th:text="${shippingInfo.address}"></td>
			<td th:text="${shippingInfo.zipcode}"></td>
			<td th:text="${shippingInfo.country}"></td>
			<td th:text="${shippingInfo.city}"></td>
			<td th:text="${shippingInfo.phone}"></td>
		  </tr>
		</table>
			
		<a th:href="@{/home}">home</a>
	
</body>
</html>