<!DOCTYPE html>
<html>

<head>
    <title>Welcom to Kityphora</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/js/script.js"></script>
</head>

<body>
	<!-- Navigation Bar -->
	  <nav>
	      <div id="home">
	          <div class="customer_service">
	              Silver
	              <div class="contact_info">
	                  <img src="/images//envelope.png" alt="Custome Service Mail" />
	                  diana@kitymail.com
	              </div>
	              <div style="clear:both;"></div>
	              <div class="contact_info">
	                  <img src="/images//phone.png" alt="Customer Service Phone" />
	                  +652 KITTY PHORA
	              </div>
	          </div>
	  </nav>
	  
	  <!-- Login -->
	     <div class="topdiv">
	         <a class="topmenu" href="#log-in">Log In</a>
	     </div>

	

</body>

	</html>