<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcom to Kityphora</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/js/script.js"></script>
</head>

<body>
	
	<!-- Navigation Bar -->
		  <nav>
		      <div id="home">
		          <div class="customer_service">
		              Diana
		              <div class="contact_info">
		                  <img src="/images//envelope.png" alt="Custome Service Mail" />
		                  diana@kitymail.com
		              </div>
		              <div style="clear:both;"></div>
		              <div class="contact_info">
		                  <img src="/images//phone.png" alt="Customer Service Phone" />
		                  +652 KITTY PHORA
		              </div>
		          </div>
		  </nav>

		  <table>					 
		  		<table>
		  			<tr>
		  			<th>Cosmetic Name</th>
		  			<th>Cosmetic Price</th>
		  			<th>Cosmetic Brand</th>
					</tr>
		  			<tr th:each="cosmetic: ${cart}" >
		  					<td th:text="${cosmetic.name}"></td>
		  					<td th:text="${cosmetic.price}"></td>
							<td th:text="${cosmetic.brand}"></td>
		  			 </tr>
		  	</table>		
			<a th:href="@{/shipping}">Submit</a>
</body>
</html>