<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcom to Kityphora</title>
	<link rel="stylesheet" href="/styles/style.css" />
	<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	</style>
</head>

<body>
	
	<!-- Navigation Bar -->
		  <nav>
		      <div id="home">
		          <div class="customer_service">
		              Diana
		              <div class="contact_info">
		                  <img src="/images//envelope.png" alt="Custome Service Mail" />
		                  diana@kitymail.com
		              </div>
		              <div style="clear:both;"></div>
		              <div class="contact_info">
		                  <img src="/images//phone.png" alt="Customer Service Phone" />
		                  +652 KITTY PHORA
		              </div>
		          </div>
		  </nav>
		  
		  <p>Total Price:</p>
		  					<p id="demo"></p>

		  					<script>
		  					let text = "The total price is " + calculateTotalPrice(cart) + " dollars.";
		  					document.getElementById("demo").innerHTML = text;

		  					function calculateTotalPrice(cart) {
		  						let totalPrice = 0;
		  							for (let i = 0; i < cart.length ; i++) {
		  								let cosmetic = cart[i];
		  								totalPrice = totalPrice + (cosmetic.price * cosmetic.quantity);
		  								 }
		  								 return totalPrice;
		  					} 
		  					</script>
		  				

		  <div id="cosmeinfo">
			
		
		 <table style="width:50%">				 
		  		<table>
		  			<tr>
		  			<th>Cosmetic Name</th>
		  			<th>Cosmetic Price</th>
		  			<th>Cosmetic Brand</th>
					</tr>
		  			<tr th:each="cosmetic: ${cart}" >
		  					<td th:text="${cosmetic.name}"></td>
		  					<td th:text="${cosmetic.price}"></td>
							<td th:text="${cosmetic.brand}"></td>	
		  			 </tr>
		  	</table>	
		
			</div>
			
			
			<a th:href="@{/shipping}">Next</a>
</body>
</html>