<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Payment information</title>
	<link rel="stylesheet" href="/styles/style.css" />
		<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
</head>
<body>
	<!-- Navigation Bar -->
			  <nav>
			      <div id="home">
			          <div class="customer_service">
			              Diana
			              <div class="contact_info">
			                  <img src="/images//envelope.png" alt="Custome Service Mail" />
			                  diana@kitymail.com
			              </div>
			              <div style="clear:both;"></div>
			              <div class="contact_info">
			                  <img src="/images//phone.png" alt="Customer Service Phone" />
			                  +652 KITTY PHORA
			              </div>
			          </div>
			  </nav>
	<h2>Payment information</h2>
		<table>
		  <tr>
		    <td>Card Number</td>
		    <td>CVC</td>
		  </tr>
		  <tr>
		    <td th:text="${paymentInfo.cardNumber}"></td>
		    <td th:text="${paymentInfo.cvc}"></td>
		  </tr>
		</table>
		
		<a th:href="@{/comfirmation}">Comfirm</a>

	</body>
</html>