<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">	
<head>
    <title>Payment Method</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/js/script.js"></script>
</head>
<body>
	<!-- Navigation Bar -->
			  <nav>
			      <div id="home">
			          <div class="customer_service">
			              Diana
			              <div class="contact_info">
			                  <img src="/images//envelope.png" alt="Custome Service Mail" />
			                  diana@kitymail.com
			              </div>
			              <div style="clear:both;"></div>
			              <div class="contact_info">
			                  <img src="/images//phone.png" alt="Customer Service Phone" />
			                  +652 KITTY PHORA
			              </div>
			          </div>
			  </nav>
			  
      <form action="#" th:action="@{/paymentInfo}" method="post" th:object="${paymentInfo}">
          <table>
              <tr>
                  <td>Card Number:</td>
                  <td><input type="text" th:field="*{cardNumber}"/></td>
				  <td th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">Card Number Error</td>
              </tr>

              <tr>
                  <td>CVC:</td>
                  <td><input type="text" th:field="*{cvc}" /></td>
                  <td th:if="${#fields.hasErrors('cvc')}" th:errors="*{cvc}">cvc Error</td>
              </tr>

			  
			   <tr>
			      <td><button type="submit">Submit Payment</button></td>
			  </tr>
          </table>
      </form>
  </body>
  
	
</html>