<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcom to Kityphora</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/js/script.js"></script>
</head>

<body>
	
	<!-- Navigation Bar -->
		  <nav>
		      <div id="home">
		          <div class="customer_service">
		              Diana
		              <div class="contact_info">
		                  <img src="/images//envelope.png" alt="Custome Service Mail" />
		                  diana@kitymail.com
		              </div>
		              <div style="clear:both;"></div>
		              <div class="contact_info">
		                  <img src="/images//phone.png" alt="Customer Service Phone" />
		                  +652 KITTY PHORA
		              </div>
		          </div>
		  </nav>

  
				  <form action="#" th:action="@{/shipping}" method="post" th:object="${shippingInfo}">
				          <table>
				              <tr>
				                  <td>Name:</td>
				                  <td><input type="text" th:field="*{name}"/></td>
				  			  <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
				              </tr>
							  
							  <tr>
							  			                  <td>Address:</td>
							  			                  <td><input type="text" th:field="*{address}" /></td>
							  			                  <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</td>
							  			              </tr>

							  						  <tr>
							  						      <td>Zipcode:</td>
							  						      <td><input type="text" th:field="*{zipcode}" /></td>
							  						      <td th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Zipcode Error</td>
							  						  </tr>
							  						  
							  						  <tr>
							  						      <td>Country:</td>
							  						      <td><input type="text" th:field="*{country}" /></td>
							  						      <td th:if="${#fields.hasErrors('country')}" th:errors="*{address}">Country Error</td>
							  						  </tr>
							  						  
							  						  <tr>
							  						      <td>City:</td>
							  						      <td><input type="text" th:field="*{city}" /></td>
							  						      <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</td>
							  						  </tr>
							  						  
							  						  <tr>
							  						      <td>Phone:</td>
							  						      <td><input type="text" th:field="*{phone}" /></td>
							  						      <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
							  						  </tr>
							  			  		  	
				  		   <tr>
				  		      <td><button type="submit">Submit Address</button></td>
				  		  </tr>
				          </table>
				      </form>
				 
				  <p th:text="${message}"></p>
		      </body>
		  </html>
			<a th:href="@{/home}">home</a>
</body>
</html>