<!DOCTYPE html>
<html>

<head>
    <title>Welcom to Kityphora</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/js/script.js"></script>
</head>

<body>
	
	<!-- Navigation Bar -->
		  <nav>
		      <div id="home">
		          <div class="customer_service">
		              Diana
		              <div class="contact_info">
		                  <img src="/images//envelope.png" alt="Custome Service Mail" />
		                  diana@kitymail.com
		              </div>
		              <div style="clear:both;"></div>
		              <div class="contact_info">
		                  <img src="/images//phone.png" alt="Customer Service Phone" />
		                  +652 KITTY PHORA
		              </div>
		          </div>
		  </nav>

		  <!DOCTYPE html>
		  <html>
		      <body>
		          <h1>Shipping Information</h1>
		          <form>    
		              <fieldset name="Shipping Information"> 
		                  <label for="name">Name:</label>
		                  <input type="text" id="name" name="name"><br>
		                  <label for="address">Address:</label>
		                  <input type="text" id="address" name="address"><br>
		                  <label for="zipcode">Zipcode:</label>
		                  <input type="text" id="zipcode" name="zipcode"><br>
		                  <label for="card">card</label>
		                  <input type="card" id="card" name="card"><br>
		              </fieldset>
		              <br>
		              <input type="submit" value="Submit">
		          </form>
		      </body>
		  </html>
			<a th:href="@{/home}">home</a>
</body>
</html>