<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>Welcom to Kityphora</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/js/script.js"></script>
</head>

<body>
	
	<!-- Navigation Bar -->
		  <nav>
		      <div id="home">
		          <div class="customer_service">
		              Diana
		              <div class="contact_info">
		                  <img src="/images//envelope.png" alt="Custome Service Mail" />
		                  diana@kitymail.com
		              </div>
		              <div style="clear:both;"></div>
		              <div class="contact_info">
		                  <img src="/images//phone.png" alt="Customer Service Phone" />
		                  +652 KITTY PHORA
		              </div>
		          </div>
		  </nav>

		  <!DOCTYPE html>
		  <html>
		      <body>
				<form action="/shippingAddress" method="post">
				     Name: <input type="text" name="name" /><br />
					 Address: <input type="text" name="address" /><br />
					 Zipcode:<input type="text" name="zipcode" /><br />
					 Country:<input type="text" name="country" /><br />
					 City:<input type="text" name="city" /><br />
					 Phone:<input type="text" name="phone" /><br />
				    
				     <button type="submit">Next</button>
				  </form>
				 
				  <p th:text="${message}"></p>
		      </body>
		  </html>
			<a th:href="@{/home}">home</a>
</body>
</html>