body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Navigation Bar */

#home {
  background-color: #c27ba0;
  padding-bottom: 1cm;
  margin-left: -1cm;
  margin-right: -1cm;
  margin-top: -1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
}


.topmenu {
  color: #c27ba0;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: lightgray;
  /* Add the styles here */
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.customer_service {
  float: left;
  padding-left: 2cm;
  /* Add the styles here */
}

.customer_service .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width: 25px;
  margin-right: 10px;
  float: left;
}

/* Search bar */

#search_bar {
  width: 200px;
}
/* Used in the about_kityphora sections */

.container {
  display: flex;
}

/* about_kityphora */

.about_kityphora {
  display: flex;
  align-items: center;
}

#about_kityphora h1 {
  font-size: 65px;
  color: #c27ba0;
}

#about_kityphora p {
  font-size: 25px;
  color: rgb(128, 128, 128);
}

.profile_image {
  height: fit-content;
  vertical-align: middle;
  margin: 5px;
}

/* Cart */
#cart {
  float: right;
  border: 2px solid #a64d79;
  background-color: #f3f6f4;
  display: block;
  width: 350px;
  height: 300px;
  border-radius: 25px;
  margin-right: 20px;
}




